---
import Icon from "~/components/Icon.astro";
---

<a
  href="javascript:history.back()"
  class="mb-8 inline-block text-base font-medium transition hover:text-gray-500"
>
  <Icon name="arrow-left" class="size-5 inline-block mr-1" />
  <span>Go Back</span>
</a>
