---
import Icon from "~/components/Icon.astro";
---

<form id="form-sort-mobile" class="max-lg:shrink-0">
  <div class="text-gray-800">
    <label class="sr-only" for="sort-mobile">Sort Colombia Tours</label>
    <div class="grid grid-cols-1">
      <select
        name="sort"
        id="sort-mobile"
        class="appearance-none col-start-1 w-8 focus:outline-none row-start-1 outline-none bg-transparent"
        aria-label="Sort Colombia tours by"
      >
        <option value="all">Sort by</option>
        <option value="price-asc">Price: Low to High</option>
        <option value="price-desc">Price: High to Low</option>
        <option value="duration-asc">Duration: Short to Long</option>
        <option value="duration-desc">Duration: Long to Short</option>
        <option value="difficulty-asc">Difficulty: Easy to Expert</option>
        <option value="difficulty-desc">Difficulty: Expert to Easy</option>
        <option value="popularity-desc">Most Popular</option>
        <option value="newest-desc">Newest Tours</option>
      </select>
      <Icon
        name="arrows-sort"
        class="pointer-events-none text-white col-start-1 row-start-1 size-5 self-center justify-self-end"
      />
    </div>
  </div>
</form>
