---
import Icon from "~/components/Icon.astro";
---

<form id="form-sort">
  <div class="lg:shrink-0">
    <div class="flex items-center gap-x-2">
      <label class="sr-only" for="sort">Sort Colombia Tours</label>
    </div>
    <div class="grid grid-cols-1 max-lg:w-max ml-auto">
      <select
        name="sort"
        id="sort"
        class="appearance-none max-lg:mt-0 col-start-1 bg-transparent max-lg:outline-none outline-gray-300 row-start-1 pr-10"
        aria-label="Sort Colombia tours by"
      >
        <option value="all">Sort by</option>
        <option value="price-asc">Price: Low to High</option>
        <option value="price-desc">Price: High to Low</option>
        <option value="duration-asc">Duration: Short to Long</option>
        <option value="duration-desc">Duration: Long to Short</option>
        <option value="difficulty-asc">Difficulty: Easy to Expert</option>
        <option value="difficulty-desc">Difficulty: Expert to Easy</option>
        <option value="popularity-desc">Most Popular</option>
        <option value="newest-desc">Newest Tours</option>
      </select>
      <Icon name="chevron-down" class="icon-chevron-down" />
    </div>
  </div>
</form>
